<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width-device-width, initial-scale=1,shrink-to-fit=no" />
    <title>Dashboard</title>
    <link href="../Libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../Libs/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../Resources/css/sb-admin.min.css" rel="stylesheet" />
</head>
<body class="bg-dark">
    
    <div class="container">

        <div class="card card-login mx-auto mt-5">

            <div class="card-header">
                Esqueci minha senha
            </div>
            <div class="card-body">

                <div class="text-center mt-4 mb-5">
                    <h4>Esqueceu sua senha?</h4>
                    <p>Digite seu email e nos lhe enviaremos instruçoes sobre como redefinir sua senha</p>
                </div>


                <form>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" placeholder="email@example.com" class="form-control" name="email" id="email" />

                    </div>
                   
                
                    <button class="btn btn-primary btn-block">Recuperar Senha</button>
                    <a href="CriarConta.html" class="btn btn-block">Registrar-se</a>
                    <div class="text-center">
                        <a href="Login.html" class="d-block small mt-3">Login</a>
                    </div>
                </form>

            </div>
        </div>

    </div>
    
 
    <script src="../Libs/jquery/jquery.min.js"></script>
    <script src="../Libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../Libs/jquery-easing/jquery.easing.min.js"></script>
</body>
</html>